@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
============
Variables
============ 
 */

:root {
    --main-color: rgb(60, 128, 103);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    --border-radius: 0.75rem;
    --font-family-1: 'Montserrat', sans-serif;
    --font-family-2: 'Fraunces', serif;
    --margin-bottom: 1rem;
    --font-size: 14px;
}

/* global styles */
h1 {
    font-family: var(--font-family-2);
    font-size: 1.95rem;
    line-height: 1;
    color: var(--very-dark-blue);
    margin-bottom: var(--margin-bottom);
}

/* end of global styles */

body {
    background: var(--cream);
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 1.5rem 0;
    width: 90vw;
    max-width: 360px;
}

.img-container {
    background: url("../images/image-product-mobile.jpg") center/cover no-repeat;
    height: 14.5rem;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.perfume-info {
    background: var(--white);
    color: var(--dark-grayish-blue);
    font-family: var(--font-family-1);
    padding: 1.4rem;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.heading {
    margin-bottom: var(--margin-bottom);
    text-transform: uppercase;
    font-size: var(--font-size);
    letter-spacing: 0.35rem;
}

.text {
    font-size: var(--font-size);
    line-height: 1.55;
    margin-bottom: var(--margin-bottom);
}

.prices {
    display: flex;
    align-items: center;
    margin-bottom: var(--margin-bottom);
}

.true {
    margin-bottom: 0;
    color: var(--main-color);
}

.false {
    margin-left: 1rem;
    font-size: var(--font-size);
    text-decoration: line-through;
}

.btn {
    width: 100%;
    padding: 0.7rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    border: transparent;
    background: var(--main-color);
    color: var(--white);
    transition: all 0.3s ease-in-out;
}

.cart {
    margin-right: 0.75rem;
    font-size: var(--font-size);
}

.btn span {
    font-weight: 700;
}

.btn:hover {
    background: hsl(158, 17%, 19%);
}

@media screen and (min-width:468px) {
    :root {
        --font-size: 12px;
        --margin-bottom: 1.2rem;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width:768px) {
    :root {
        --font-size: 12px;
        --margin-bottom: 1.2rem;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 1.75rem;
    }

    .container {
        display: flex;
        align-items: center;
    }

    .img-container {
        background: url("../images/image-product-desktop.jpg") center/cover no-repeat;
        border-radius: var(--border-radius) 0 0 var(--border-radius);
    }

    .perfume-info {
        border-radius: 0 var(--border-radius) var(--border-radius) 0;
    }

    .img-container,
    .perfume-info {
        flex: 0 0 50%;
        min-width: 15rem;
        min-height: 23.1rem;

    }

    .text {
        line-height: 1.65;
    }
}